#container{
    height: 400px;
    width: 500px;
    background-color: rgb(237, 235, 235);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
#div1{
    background-color: red;
}
#div2{
    background-color: blue;
}
#div3{
    background-color: green;
}
#div4{
    background-color: yellow;
}
#div5{
    background-color: rgb(176, 19, 223);
}
#div6{
    background-color: orange;
}
#div7{
    background-color: aqua;
}
#container div{
    height: 60px;
    color: white;
    font-size: 25px;
}