#one {
  height: 100px;
  width: 200px;
  background-color: red;
}
#one:hover {
  transform: translate(50px, 100px);
  background-color: aqua;
}

#two {
  height: 100px;
  width: 200px;
  background-color: rgb(12, 67, 130);
}
#two:hover {
  transform: scale(1.5); /* 1.5 times bigger */
  background-color: yellow;
}

#three {
  height: 100px;
  width: 200px;
  background-color: rgb(1, 188, 166);
}
#three:hover {
    transform: rotate(45deg);
}

#four {
  height: 100px;
  width: 200px;
  background-color: rgb(95, 240, 47);
}

#four:hover{
    transform: skewX(20deg);
    background-color: purple;
}
#five {
  height: 100px;
  width: 200px;
  background-color: rgb(35, 179, 223);
}

#five:hover{
    transform: matrix(1, 0, 0, 1, 50, 100);
    background-color: rgb(230, 18, 230);
}

#six {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    transition: transform 0.5s;
}
#six:hover{
    transform: rotate(45deg) scale(1.2);
    background-color: green;
}
